<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width = device-width, initial-scale = 1">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <title></title>
    </head>
    <body>

        <div class="container">
            <h1>Coin Info</h1>
            <div class = "main-content">
                
                <h2><%= coin.coin %></h2>
                <h3><%= coin.symbol %></h3>
                <p>Info: <%= coin.info %></p>
                Exchange: <%= coin.exchange %>
                <p>Notes: <%= coin.notes %></p>

            </div>
        
        </div>
        
        <div class ="nav">
        <!-- EDIT -->
        <a href="/coin/<%= coin.id; %>/edit">Edit</a>

         <!--  DELETE  -->
			<form action="/coin/<%= coin.id; %>?_method=DELETE" method="POST" >
                <input type="submit" value="DELETE"/>
        </form>

        <nav>
            <a href="/coin">Back to Coin Index</a>

        </nav>
    </div>
    </body>
</html>